<%# <h1>All your bookings</h1>

<ul class="list-group">
  <% @bookings.each do |booking| %>
      <%# <li class="list-group-item p-3 mb-2 bg-dark text-white"> %>
        <%# <p>Starship:        <%= link_to booking.starship.name, starship_path(booking.starship) %>
        <%# <p>Starting month:  <%= booking.start_month </p> %>
        <%# <p>Status:          <%= booking.status %>
      <%# </li> %>

  <%# <% end %>
<%# </ul> %>

<div class="container">
  <div class="inline">
    <%= link_to "Return to dashboard", dashboard_path, class: "button" %>
  </div>
  <div class="info-card">
    <h2>My reservations</h2>
    <p>You have <%= @bookings.count %> reservations.</p>
    <div class="grid">
      <% @bookings.each do |booking| %>
        <div class="booking-card">
          <div class="text-div">
            <p><strong>starship: </strong> <%= link_to booking.starship.name, starship_path(booking.starship) %> </p>
            <p><strong>Reserved month:</strong> <%= booking.start_month %> </p>
            <p><strong>status: </strong><%= booking.status %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
