
<div class="form-wrapper">
  <div class="inline">
    <%= link_to "Back", dashboard_path, class: "button" %>
  </div>
  <h1>Edit Starship</h1>
  <%= simple_form_for(@starship) do |f| %>
    <%= f.input :name %>
    <%= f.input :model %>
    <%= f.input :starship_class, collection: [ "Galactic Empire", "Rebell", "Order Jedi", "Other" ] %>
    <%= f.input :length, as: :integer %>
    <%= f.input :crew, as: :integer %>
    <%= f.input :price, as: :integer %>
    <%= f.input :location %>
    <%= f.submit %>
  <% end %>

</div>
