
<div>
  <div class="image"></div>
  <div>
    <h1>name:<%= @starship.name %></h1>
    <h2>model:<%= @starship.model %></h2>
    <%# <p>class:<%= @starship.starship_class</p> %>
    <%# <p>manufacturer:<%= @starship.manufacturer</p> %>
    <p>length:<%= @starship.length %></p>
    <p>passengers:<%= @starship.passangers  %></p>
    <p>rating: <%= @starship.hyperdrive_rating %></p>
    <p>price:<%= @starship.price %></p>
    <% @starship.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>

<div>
  <h1>New booking</h1>
  <%# <%= simple_form_for(@booking, url:starship_bookings_path(@starship.id), method: :post) do |f| %>
    <%# <%= f.input :start_month %>
    <%# <%= f.submit %>
  <%# <% end %>
</div>


<% if policy(@starship).edit? %>
<%= link_to "Edit",  edit_starship_path %>
<% end %>

<%= link_to "Back to home",  starships_path %>

<%= link_to "Delete",  starship_path(@starship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@starship).destroy? %>
