
<div class="container">
  <div><%= link_to "Back to home",  starships_path, class: "button" %></div>
  <div class="inline">
    <div class="image">
      <%= cl_image_tag @starship.photos.first.key %>
    </div>
    <div class="text-div">
      <h1><%= @starship.name %></h1>
      <p>model:<%= @starship.model %></p>
      <%# <p>class:<%= @starship.starship_class</p> %>
      <%# <p>manufacturer:<%= @starship.manufacturer</p> %>
      <p>length:<%= @starship.length %></p>
      <p>passengers:<%= @starship.passangers  %></p>
      <p>rating: <%= @starship.hyperdrive_rating %></p>
      <p>price:<%= @starship.price %></p>
    </div>
    <div>
      <%= link_to "Book this starship", new_starship_booking_path(@starship), class: "button" %>

    </div>
  </div>
  <div class="inline">
    <% if policy(@starship).edit? %>
      <%= link_to "Edit",  edit_starship_path, class: "button" %>
    <% end %>
    <%= link_to "Delete",  starship_path(@starship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button" if policy(@starship).destroy? %>
  </div>
</div>
